.game-container{
    width: 30%; /* Cambiar esto para hacerlo responsive */
}

.guess-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BUTTONS PAGE https://gradientbuttons.colorion.co/*/
         
.search-btn {
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C  51%, #DE6262  100%);
    margin: 0 5px;
    text-align: center;
    padding: 0 15px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    width: auto;
    height: 2.5rem;

}

.search-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}

.search-btn:disabled {
    background-color: #a7a7a7;
    background-image: none;
    color: #fff;
}

.attempts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:20px;
}

.attempt{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.attempt-error{
    box-shadow: 0 0 8px #e34f4f;
}

.attempt-correct{
    box-shadow: 0 0 8px #5eba61;
}

.attempt-text{
    margin-left: 10px;
    font-size:16px;
}