.game-container{
    width: 30%; /* Cambiar esto para hacerlo responsive */
    z-index: 1;
    margin-top: 80px;
}

.confetti1{
    position: absolute;
    top: 0;
    left: 0;
}

.confetti2{
    position: absolute;
    top: 0;
    right: 0;
}

.guess-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attempts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:10px;
}

.attempt{
    background-color: rgb(255, 255, 255, 0.8);
    height: 2.5rem;
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.attempt-text{
    margin-left: 10px;
    font-size:16px;
}