.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 24px;
    font-family: Kaushan Script;
    color: #d8475a;
}

.logo{
    height: 40px;
    width: auto;
    margin: 20px;
}

.navbar-title{
    font-size: 20px;
    font-family: Kaushan Script;
    color: white;
    flex-grow: 2;
    display:flex;
    align-items: center;
    justify-content: center;
}


.navbar-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  font-size: 16px;
  color: #333;
}

.navbar-clock{
    color: #fbede4;
    margin-right:20px;
}

.navbar-end, .navbar-logo{
    width: 20%;
}