.results-container {
    width: 60%;
    margin-top: 80px;
}

.anime-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px; /* Change to make responsive */
}

.anime-image {
    height: 100%; 
    width:auto;
    object-fit: cover;
    margin-right: 30px;
}

.anime-info {
    background-color: #f5f5f5d9;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.anime-text {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.anime-title {
    display:flex;
    align-items: center;
}

.anime-result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: #f5f5f5d9;
    width:100%;
    height: 100px;
}

.result-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #fff7d8;
    width: 10rem;
    height: 10rem;
}

.result-title{
    margin-bottom: 6px;
    font-size: 1.3rem;
}

.result-text{
    margin-bottom: 10px;
    font-size: 2.7rem;
}

.results-last-row{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.redirect-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    width: 60%;
}

.buttons-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.redirect-button{
    width: 70%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.button-icon{
    width: 80px;
    padding: 5px;
}

.video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%; /* 16:9 */
    width: 60%; /* Change to make responsive*/
    margin:auto;
}

.video-wrapper > div { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper > div > video{
    overflow: hidden;
    border-radius: 10px;
}