.results-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 60vw;
    max-width: 100%; /* Asegura que no se exceda del ancho de la pantalla */
    margin-left: auto;
    margin-right: auto;
}

.anime-data {
    display: flex; /* Colocar el contenido en línea */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay espacio */
    gap: 20px; /* Espacio entre la imagen y la tarjeta */
}

.anime-data img {
    width: 100%; /* Ocupar todo el ancho de su contenedor */
    height: auto; /* Para mantener la relación de aspecto */
    flex: 1; /* Ocupa espacio disponible */
    object-fit: cover; /* Cubrir el espacio sin deformar */
}


.anime-info {
    flex: 2; /* Ocupa el doble de espacio que la imagen */
    padding: 20px;
    background-color: #f5f5f5d9;
    border-radius: 8px;
}


.anime-text {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1rem;
}

.anime-title {
    display:flex;
    align-items: center;
}

.video-wrapper {
    margin-top: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporción 16:9 */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anime-result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: #f5f5f5d9;
    width:100%;
    height: 10vh;
}

.result-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #fff7d8;
    width: 12vh;
    height: 12vh
}

.result-title{
    margin: 0;
    font-size: 1rem;
}

.result-text{
    margin: 0;
    font-size: 1.5rem;
}

.results-last-row{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    width: 100%;
}

.redirect-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.buttons-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.redirect-button{
    width: 100%;
    margin-right: 20px;
    margin-bottom: 5vh;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.button-icon{
    width: 80px;
    padding: 5px;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
    .results-container {
      width: 95%; /* Usar un mayor porcentaje del ancho de la pantalla en móviles */
    }
  
    .anime-data {
      flex-direction: column;
    }
  
    .anime-data img {
      display: none;
      width: 0;
      height: 0;
    }
  
    .anime-info {
      flex: none;
      width: 100%;
    }
  
    .anime-info {
      width: 100%; /* Ocupa todo el ancho de su contenedor */
      box-sizing: border-box; /* Incluye padding y bordes en el ancho */
    }
  
    .video-wrapper,
    video {
      width: 100%; /* Ocupa todo el ancho de su contenedor */
      max-width: 100%; /* Establecer un ancho máximo */
    }
  }
  

@media (min-width: 400px) and (max-width: 600px){

    .result-circle{
        width: 10vh;
        height: 10vh;
    }
}


@media (min-width: 600px) and (max-width: 800px){
    .result-circle{
        width: 22vh;
        height: 22vh;
    }
    .results-last-row{
        margin-top: 10vh;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    .result-circle{
        width: 18vh;
        height: 18vh;
    }
    .results-last-row{
        margin-top: 10vh;
    }

    .result-circle{
        width: 11vh;
        height: 11vh;
    }

    .results-last-row{
        margin-top: 2vh;
        
    }

    .share-container{
        margin-bottom: 2vh;
    }

}

@media (min-width: 1000px) and (max-width: 1200px){
    .result-circle{
        width: 18vh;
        height: 18vh;
    }
    .results-last-row{
        margin-top: 10vh;
    }
    .result-circle{
        width: 11vh;
        height: 11vh;
    }

    .results-last-row{
        margin-top: 2vh;
        
    }
}


@media (min-width: 1200px) {
    .buttons-row{
        flex-direction: row;
    }

    .result-text{
        font-size: 2rem;
    }
    .results-last-row{
        flex-direction: row;
        align-items: initial;
    }
    .redirect-button{
        width:18vw;
        margin-bottom: 3vh;
    }
}